.title
	h3 Daily CSS Images
	h1 :: 05 Space Mascot


.container
	.body-one
		.l-ear-one
		.l-ear-two
		.r-ear-one
		.r-ear-two
		.l-eye
		.r-eye
		.l-arm-one
		.l-arm-two
		.r-arm-one
		.r-arm-two
		.l-leg-one
		.l-leg-two
		.r-leg-one
		.r-leg-two
	.body-two
		.l-ear-one
		.l-ear-two
		.r-ear-one
		.r-ear-two
		.l-eye
		.r-eye
		.l-arm-one
		.l-arm-two
		.r-arm-one
		.r-arm-two
		.l-leg-one
		.l-leg-two
		.r-leg-one
		.r-leg-two
	.body-three
		.l-ear-one
		.l-ear-two
		.r-ear-one
		.r-ear-two
		.l-eye
		.r-eye
		.l-arm-one
		.l-arm-two
		.r-arm-one
		.r-arm-two
		.l-leg-one
		.l-leg-two
		.r-leg-one
		.r-leg-two
	
	.title
		h2 Press Start