.title
	h3 Daily CSS Images
	h1 :: 07 Robot - <span>E V E</span>

.container
	.eve
		.head
			.face
				.l-eye
					.pupil
				.r-eye
					.pupil
		.body
			.b-dot-1
			.b-dot-2
			.b-dot-3
			.g-dot
			.head-shade
			.l-arm
			.r-arm
	.shade
		