.container {
  padding-top: 30px;
  margin: auto;
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 100px;
  background-color: white;
  z-index: 1;
}
.container .line {
  border: 1px solid #d35400;
  background-color: #e67e22;
  width: 400px;
  height: 4px;
  margin-left: -50px;
  margin-top: 0px;
  margin-bottom: 100px;
}
.container .line .square {
  border: 1px solid #d35400;
  background-color: #e67e22;
  width: 20px;
  height: 20px;
  margin-left: 30px;
  margin-top: -9px;
}
.container .line .square span {
  position: absolute;
  margin-left: -6px;
  margin-top: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #34495e;
  font-weight: bold;
}
.container .line .square:nth-of-type(2) {
  border: 1px solid #A84401;
  background-color: #d35400;
  width: 25px;
  height: 25px;
  margin-left: 188px;
  margin-top: -23px;
}
.container .line .square:nth-of-type(2) span {
  position: absolute;
  margin-left: -20px;
  margin-top: 33px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #34495e;
  text-decoration: underline;
  font-weight: bold;
}
.container .line .square:nth-of-type(3) {
  border: 1px solid #d35400;
  background-color: #e67e22;
  width: 20px;
  height: 20px;
  margin-left: 350px;
  margin-top: -22px;
}
.container .line .square:nth-of-type(3) span {
  position: absolute;
  margin-left: -12px;
  margin-top: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #34495e;
  font-weight: bold;
}
.container .checkout {
  position: absolute;
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
  width: 300px;
  height: 400px;
}
.container .checkout h2 {
  margin-left: 30px;
  margin-top: 15px;
  font-family: 'Pacifico', sans-serif;
  color: #34495e;
  z-index: 2;
  position: absolute;
}
.container .checkout h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #34495e;
  margin-left: 118px;
  margin-top: 60px;
  z-index: 2;
  position: absolute;
}
.container .checkout h4 #p-num {
  text-decoration: underline;
  font-weight: bold;
}
.container .checkout .image {
  position: absolute;
  z-index: 1;
  margin-left: -15px;
  margin-top: 40px;
  width: 300px;
  height: auto;
}
.container .checkout form {
  position: absolute;
  margin-left: 23px;
  margin-top: 240px;
  z-index: 2;
}
.container .checkout form .fa {
  color: #34495e;
}
.container .checkout form .user {
  width: 219px;
  height: 30px;
  margin-left: 3px;
  padding-left: 5px;
  margin-bottom: 2px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  color: #9CA8B5;
}
.container .checkout form .kort {
  width: 219px;
  height: 30px;
  margin-left: -2px;
  padding-left: 5px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin-bottom: 2px;
  font-family: 'Fira Sans', sans-serif;
  color: #9CA8B5;
}
.container .checkout form .mmyy {
  width: 100px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  color: #9CA8B5;
}
.container .checkout form .cvc {
  width: 100px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  color: #9CA8B5;
}
.container .checkout .buttons {
  position: absolute;
  margin-left: 43px;
  margin-top: 350px;
  z-index: 2;
}
.container .checkout .buttons .cancel, .container .checkout .buttons .buy {
  width: 100px;
  height: 30px;
  padding-top: 5px;
  font-weight: bold;
  color: #ecf0f1;
}
.container .checkout .buttons .buy {
  background-color: #6394C4;
  margin-left: 10px;
}
.container .checkout .buttons .cancel {
  background-color: #C46364;
}
.container .wallet {
  position: absolute;
  border: 1px solid #d35400;
  margin-left: 10px;
  margin-top: 21px;
  width: 300px;
  height: 360px;
  background-color: #e67e22;
  z-index: -1;
  border-radius: 0px 10px 10px 0px;
}
.container .wallet .points-title {
  position: absolute;
  color: #ecf0f1;
  margin-left: 80px;
  margin-top: 70px;
}
.container .wallet .points-title h2 {
  margin-left: 15px;
  margin-top: 0px;
  text-shadow: -1px 0 #d35400, 0 1px #d35400, 1px 0 #d35400, 0 -1px #d35400;
  font-family: 'Pacifico', sans-serif;
}
.container .wallet .points-title h4 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: -20px;
  margin-top: 50px;
  width: 200px;
  height: 50px;
}
.container .wallet .points-title h4 #p-num {
  text-decoration: underline;
  font-weight: bold;
}
.container .wallet .points-title .use {
  margin-left: 40px;
  margin-top: 50px;
  width: 90px;
  height: 30px;
  padding-top: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  background-color: #d35400;
  color: #ecf0f1;
  border: 1px solid #d35400;
}
.container .wallet .tab {
  position: absolute;
  border-radius: 0px 15px 15px 0px;
  border-top: 1px solid #d35400;
  border-right: 1px solid #d35400;
  border-bottom: 1px solid #d35400;
  margin-left: 298px;
  margin-top: 20px;
  width: 25px;
  height: 100px;
  background-color: #e67e22;
  z-index: -1;
}
.container .wallet .tab .tab-text {
  padding: 0px;
  background-color: #e67e22;
  margin-left: -15px;
  margin-top: 38px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #ecf0f1;
  font-weight: bold;
}
.container .wallet .tab .hidden-text {
  padding: 0px;
  background-color: #e67e22;
  margin-left: -15px;
  margin-top: 38px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #ecf0f1;
  display: none;
  font-weight: bold;
}
