.container
	h1 Can you catch this Ninja?
	h2 Probably not...
	.ninja
		.head
			.mask
				.eye-l
					.pupil
				.eye-r
					.pupil
			.belt
				.knott
				.ribbon
				.ribbontwo
		.triangle
		.leg-l
			.foot
		.leg-r
			.foot
	
			