/* need to add full functionality */

@mixin long-shadow($length: 20px, $color: #333, $shadow-type: 'text') {
	$string: '';
	@for $i from 1px through $length {
		$string: $string + $i $i $color;
		@if $i < $length {
			$string: $string + ', ';
		}
	}
	#{$shadow-type}-shadow: #{$string};
}

$primary: #34495e;
$accent: #425C76;
$white: #ecf0f1;
$secondary: #2c3e50;
$clear: #5E3449;
$equals: #425C76;

body {
	background-color: $secondary;
}

.title {
	color: $white;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-top: 100px;
	z-index: 3;
}

.container {
	position: relative;
	margin-top: 100px;
	margin-bottom: 150px;
	width: 220px;
	height: 372px;
	background-color: $primary;
	padding: 0px;
	@include long-shadow(700px, darken($secondary, 2%), 'box');

	.display {
		height: 100px;
		width: 100%;
		background-color: $accent;
		padding-top: 8px;
		margin-bottom: 6px;
		text-align: right;
		overflow: hidden;

		.history {
			color: $white;
			margin-right: 10px;
			text-align: right;
			height: 20px;

			background-color: $accent;
		}
		.result {
			color: $white;
			height: 60px;
			margin-top: 30px;
			margin-left: -100px;
			padding-right: 10px;
			font-size: 1.5em;
			text-align: right;
			background-color: $accent;
		}
	}
	.row {
		width: 100%;
		margin: auto 5px;

		.btn {
			width: 40px;
			height: 40px;
			margin: 6px;
			background-color: $primary;
			color: $white;
			border-radius: 2%;
		}
		.long {
			width: 92px;
		}
	}
	#sum {
		background-color: $accent;
	}
	#clear {
		background-color: $clear;
		width: 92px;
	}
	#equals {
		background-color: $equals;
		width: 92px;
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: $primary;
	color: #fff;
	font-family: "Roboto Condensed", sans-serif;
	.fa-github {
		padding-left: 10px;
		color: #fff;
		font-size: 1.5em;
		margin-top: 10px;
		&:focus {
			color: #fff;
			outline: none;
		}
	}
}
