.title
	h3 Daily CSS Images
	h1 :: 06 Phone

.container
	.phone-copy
	.phone-front
		.screen-button
			.button-glare
			
		.f-camera
		.speaker
		.screen
			.app-dock
			.app-one
				.i.fa.fa-phone
			.app-two
				.i.fa.fa-safari
			.app-three
				.i.fa.fa-comment
			.app-four
				.i.fa.fa-spotify
				
	.phone-back
		.b-camera
		.top-line
		.bottom-line
		